*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-areas:
    "header-menu"
    "main"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}