/* section 1 */
.divisor-section-1{
    position: relative;
    display: flex;
    align-items: center;
}
.divisor-section-1 img{
    width: 100%;
}
.divisor-section-1 article {
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    position: absolute;
    z-index: 10;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.divisor-section-1 article header h1{
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;

}
.divisor-section-1 article p{
     font-family: "Arima", system-ui;
    /*font-family: Helvetica;*/

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #000;
}


/* section 2 */
.divisor-section-2{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.divisor-section-2 article{
    width: 35%;
}
.divisor-section-2 article header h2{
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.divisor-section-2 article p {
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 18px;
    font-weight: 400;
    color: #525C60;
}
.divisor-section-2 img{
    width: 25%;
}



/* section 3 */
.divisor-section-3{
    position: relative;
    /*padding: 50px 0;*/
    display: flex;
    flex-direction: column;
    z-index: -5;
}
.divisor-section-3 .parallaxBackground{
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: -4%;
    object-fit: cover;
}
.divisor-section-3 .wavyBg{
    width: 100%;
}
.divisor-section-3 .section-3-container{
    min-height: 350px;
    background-color: #C69CB7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
}
.divisor-section-3 .section-3-container > header h2{
    font-family: "Khula", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.divisor-section-3 .section-3-container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}
.divisor-section-3 .section-3-container ul li{
    z-index: 5;
}
.divisor-section-3 .section-3-container ul li article {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    background-color: #FDEFEE;
    border-radius: 50px;
    padding: 20px;
}
.divisor-section-3 .section-3-container ul li article img{
    width: 75px;
}
.divisor-section-3 .section-3-container ul li article h3{
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #072233;
}
.divisor-section-3 .section-3-container ul li article p{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #54595F;
}



/* section 4 */
.divisor-section-4{
    padding: 125px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.divisor-section-4 article{
    width: 45%;
}
.divisor-section-4 article header h2{
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}
.divisor-section-4 article p {
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 18px;
    font-weight: 400;
    color: #525C60;
}
.divisor-section-4 img{
    width: 30%;
}



/* section 5 */
.divisor-section-5{
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.divisor-section-5 header h2{
    /* font-family: "Arima", system-ui; */
    font-family: Helvetica;

    font-size: 45px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}
.divisor-section-5 ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.divisor-section-5 ul li a article{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.divisor-section-5 ul li a article div{
    height: 70%;
}
.divisor-section-5 ul li a article div img{
    width: 100%;
}
.divisor-section-5 ul li a article h3{
    font-family: "Titan One", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #000;
}
.divisor-section-5 ul li a article p{
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #54595F;
}
.divisor-section-5 ul li a article h4{
    font-family: "Titan One", sans-serif;
    font-size: 27px;
    font-weight: 600;
    color: #FFA5BA;
}



/* responsive */
@media only screen and (max-width: 1075px) {
    .divisor-section-1 img{
        height: 320px;
        object-fit: cover;
    }
    .divisor-section-1 article{
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 30px 15px;
        text-align: center;
    }

    .divisor-section-1 article header h1 {
        font-size: 35px;
    }

    .divisor-section-2{
        flex-direction: column;
    }
    .divisor-section-2 article{
        width: 80%;
    }
    .divisor-section-2 article header{
        text-align: center;
    }
    .divisor-section-2 img {
        width: 40%;
    }

    .divisor-section-3 .parallaxBackground{

        height: 75%;
        bottom: 20%;
    }

    .divisor-section-4{
        flex-direction: column;
    }
    .divisor-section-4 article{
        width: 80%;
    }
    .divisor-section-4 article header{
        text-align: center;
    }
    .divisor-section-4 img {
        width: 40%;
    }

    .divisor-section-5 ul {
        width: 100%;
        justify-content: center;
        gap: 70px;
    }

}

@media only screen and (max-width: 800px) {
    .divisor-section-2 img, .divisor-section-4 img {
        width: 55%;
    }

}